#loginOuterDiv {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 255, 255, 0.3);
}

#loginForm {
    width: 350px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

#loginButton {
    margin-left: auto;
    display: block;
}

#ordersDiv {
    display: inline-block;
    width: calc(95% - 300px);
    overflow-y: auto;
    height: 100vh;
}

#customerListDiv {
    display: inline-block;
    width: 300px;
    height: 100vh;
    vertical-align: top;
}

#customerList {
    min-width: 300px;
    width: 100%;
}

.orderDiv table, .orderDiv th, .orderDiv td {
    border: 1px solid black;
    border-collapse: collapse;
}

#noResults {
    display: none;
}

#logoutDiv {
    display: inline-block;
    height: 30px;
}

#outerDiv {
    position: fixed;
    height: 100vh;
    width: 100%;
}

.orderDiv {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
